@using WebOsadnici.Models.HerniTridy
@{
    ViewData["Title"] = "Pruběh hry";
}
<script>
    // Počkat na načtení celé stránky
    window.addEventListener('load', function () {
        setTimeout(function () {
            // Skrýt zprávu o načítání a zobrazit obsah stránky
            document.getElementById('loading-message').style.display = 'none';
            document.getElementById('main-container').style.display = 'flex';
        }, 10);
    });
</script>
<span id="id-hry" hidden>@ViewBag.hra.Id</span>
<span id="id-hrace" hidden>@ViewBag.hrac.Id</span>
<p id="loading-message">Vykreslování... Prosím čekejte.</p>
<div id="main-container" style="display: none;">
    
    <div class="ovladaci_panel" id="tlacitkovy-panel">
        <div class="instrukce">
            <h2>Instrukce</h2>
            <span id="instrukce" class="instrukce">
                @ViewBag.hra.DejInstrukci(ViewBag.hrac.Id)
            </span>
        </div>
        <div>
            <h2>Nákup</h2>
            <span id="nakup">
                @Html.Raw(ViewBag.hra.DejNakupHTML(ViewBag.hrac))
            </span>
        </div>
        <div>
            <h2>Akční karty</h2>
            <span id="akcni-karty" class="horizontalne">
                @Html.Raw(ViewBag.hra.DejAkcniKartyHTML(ViewBag.hrac))
            </span>
        </div>
        <div id="tlacitka">
            @Html.Raw(ViewBag.hra.DejTlacitkaHTML(ViewBag.hrac))
        </div>
        

    </div>
    <div id="map-container" style="width: @(Mapka.RozmeryMrizky.Width*Pole.Velikost.Width*6)px">
        <partial name="Mapka" />
    </div>
    <div class="ovladaci_panel" id="stavovy-panel">

        <div class="horizontalne">
            <div>
                <h2>Poslední hod</h2>
                <span class="instrukce">
                    @ViewBag.hra.Hozene
                </span>
                
            </div>
            <div style="{flex:1;}">
                <h2>Body hráčů</h2>
                <span id="Body" class="horizontalne">
                    @Html.Raw(ViewBag.hra.DejBodyHTML())
                </span>
            </div>
        </div>
        <div>
            <h2>Extra body</h2>
            <span id="BodoveKarty" class="horizontalne">
                @Html.Raw(ViewBag.hra.DejBodoveKartyHTML(ViewBag.hrac))
            </span>
        </div>
        <div>
            <h2>Suroviny</h2>
            <span id="Suroviny" class="horizontalne">
                @Html.Raw(ViewBag.hra.DejSurovinoveKartyHTML(ViewBag.hrac))
            </span>
        </div>
        <div id="panel_smeny">
            <h2>Nabízené směny</h2>
            <span id="Smeny" class="vertikalne">
                @Html.Raw(ViewBag.hra.DejSmenyHTML(ViewBag.hrac))
            </span>
        </div>
    </div>
</div>
<div id="smena-container" class="vyskakovaci_okno">
    <h2>Nabídka směny</h2>
    <div>
        <div>
            <h3>Směna s hrou (4:1)</h3>
            <div id="smena-s-hrou">
                @Html.Raw(ViewBag.hra.DejSmenuHraHTML(ViewBag.hrac))
            </div>
        </div>
        
        <div>
            <h3>Směna s hráči</h3>
            <div id="smena-s-hraci">
                @Html.Raw(ViewBag.hra.DejSmenuHraciHTML(ViewBag.hrac))
            </div>
        </div>
    </div>
    <p class="button" onclick="tlacitko_smena(event)"> Zrušit </p>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/click.js"></script>